test/deployment/
test/.classpath
test/.project
test/*.lock
test/*.launch
test/.svn/
test/.mendix-cache/

!test/
test/*
!test/javasource/
test/javasource/*
!test/javasource/*/
test/javasource/*/*
!test/javasource/*/actions
!test/*.mpr

.vscode/
dist/
out/
nbproject/
node_modules/
.idea
*.bak
*.map
*.tmp

src/TimeSeriesChart/widget/TimeSeriesChart.js
src/TimeSeriesChart/widget/components/Wrapper.js
src/TimeSeriesChart/lib/utils.js
src/TimeSeriesChart/lib/Polyfills.js
src/TimeSeriesChart/lib/react-nvd3.js
